<div class="list-title">
  <h2>My Lists</h2>
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
</div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card card-list" >
      <h2><%= list.name %></h2>
        <%#= image_tag "#", height: "300px" %>
        <%= link_to "Show the list", list_path(list) %>
    </div>
  <% end %>
</div>
