<div class="container">
  <h1>List of movies (<%= @movies.length %>)</h1>
  <div class="cards">
    <% @movies.each do |movie| %>
      <div class="card">
        <div class="movie-info">
          <h2><%= movie.title %></h2>
          <p>Rating: <%= movie.rating.round(1) %></p>
        </div>
          <%= image_tag "#{movie.poster_url}", height: "300px" %>
        <div class="movie-link">
          <%#= link_to 'More info', movie_path(movie) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
