// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movie-display {
  display: flex;
  align-items: start;
  justify-content: space-between;
  .movie-info {
    padding: 10px 20px;
  }

}
